#!/usr/bin/env bash

source "{{ controller_ansible_install_dir }}/{{ controller_ansible_current_dirname }}/bin/activate"

{{ controller_ansible_install_dir }}/{{ controller_ansible_current_dirname }}/bin/{{ item }} $@

deactivate
